.container-fluid{
    display: flex;
    height: 100vh;
    margin: auto;
    flex-direction: column;
    background-color: rgb(235, 238, 240); 
}

.header{
    height:15%;
    background-color: rgb(32, 121, 113);
}

.footer{
    height: 10%;
    background-color: rgb(32, 121, 113)
}

.main{
    height: 75%;
}

