
.container-nopadding{
    padding: 0;
    background-color: rgb(249, 249, 249); 
    display: flex;
    flex-direction: column;
}

.header{
    height:7rem;

}

.main{
     
}

.footer{
    height: 4rem;
    /* bottom: 0;
    position: absolute; 
    width: 100%;*/
  
}

@media screen and (max-width: 480px){
    .main{    
        /* padding-top: 120px; */
    }
}



