.footer-doormat{
    width: 100%;
    height: 4rem;
    background-color:  #00857a;
}

.footer-list{
    display: block;
    max-width: 1280px;
    margin: auto;
    padding:10px;
    
}
.footer-list-item{
    display: inline-block;

    padding: 10px 0px
}

.item-link{
    color: white;
}
    
.footer-list-item .item-link:after{
    content: "|";
    padding: 5px;
}