
 .img-logo{
    height: 44px;
    width: 130px;
}

.top-navigation{
    height: 4rem;
   background-color: white;
}

.top-navigation-logo{
    
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.5rem;
}

.login-btn-div{
   align-self: center;

}


.btn-nav{
    padding: 5px 12px;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background-color: #ffd200;
    transition-timing-function: ease;
    transition-delay: .3s;
    transition-duration: 1s;
}


.login:hover, .logout:hover{
    background-color: #e0bd22;
}

.main-navigation{
    height: 3rem;
    background-color: #00857a;
}

.main-navigation-nav{
    max-width: 1280px;
    margin: auto;
    height: 3rem;
}

.nav-list{
    margin: 0;
    background-color: #00857a;
}

.nav-list li{
    text-align: center;
    padding: 14px 20px;
    display: inline-block; 
}



.nav-list li:hover{
    background-color: #159288;
}

.nav-list a{
    color: white;
    text-decoration: none;
}

/* .active{
    background-color: #004c4c;
} */

.glyphicon-chevron-down:before {
    content: "\e114";
    font-size: x-small;
    visibility: hidden;
    color: white
}


@media screen and (max-width: 480px){


.main-navigation-nav{
    width: 100%;
    height: 3rem;
    margin: 0;
}

.nav-list{
    padding: 0;
}

.nav-list > li:not(:first-child){
    display:none;
}

.glyphicon-chevron-down:before {
    visibility: visible;
}
}
/*

.search-container{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.search-container button{
    background-color:  rgb(245, 245, 106);
    text-decoration: none;
    display: inline-block;
}

.search-container button i{
    text-align: center;

}

 */

