/* 

.header-container{
    height: 30%;
    width:100%;
    flex-grow: inherit;
    background-color: white;
    



.header-container{
    height: 30%;
    background-color: white;  
}

.img{
    height: auto;
    width: 100;
 
}

.header-container button{
    align-self: flex-end;
    justify-content: center;
    padding-right: 20px; 
    background-color: rgb(245, 245, 106);
    text-align: center;
}


.nav-container{
    height: 20%;
    background-color: rgb(36, 187, 187);
}

.nav-list{
    margin: 0;
}

.nav-list li{
    display: inline;
    text-align: center
}

.nav-list a{
    display: inline-block;
    text-justify: auto;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: white
}

.nav-list a:hover{
    background-color: teal;
}


.search-container{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.search-container button{
    background-color:  rgb(245, 245, 106);
    text-decoration: none;
    display: inline-block;
}

.search-container button i{
    text-align: center;

}

 */


 .img-logo{
     height: 44px;
     width: 130px;
 }

 .top-navigation-logo{
     background-color: white;
     display: flex;
     position: relative;
     padding: .75rem 1.5rem;
 }

 .login-btn-div{
    position: absolute;
    right: 0;
    align-self: center;
 }