
 .img-logo{
    height: 44px;
    width: 130px;
}

.top-navigation{
    height: 4rem;
   background-color: white;
}

.top-navigation-logo{
    
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.5rem;
}

.login-btn-div{
   align-self: center;
}

.main-navigation{
    height: 3rem;
    background-color: #00857a;
}
.main-navigation-nav{
    max-width: 1280px;
    margin: auto;
    height: 3rem;
}

.nav-list{
    margin: 0;
    display: block;
    align-self: center;
}

.nav-list li{
    text-align: center;
    padding: 14px 20px;
    display: inline-block;
}

.nav-list a{
    display: inline-block;
    text-justify: auto;
    text-decoration: none;
    text-align: center;
    color: white;
}

.nav-list li:hover{
    background-color: #005e5d;
}

/* 

.header-container{
    height: 30%;
    width:100%;
    flex-grow: inherit;
    background-color: white;
    



.header-container{
    height: 30%;
    background-color: white;  
}

.img{
    height: auto;
    width: 100;
 
}

.header-container button{
    align-self: flex-end;
    justify-content: center;
    padding-right: 20px; 
    background-color: rgb(245, 245, 106);
    text-align: center;
}


.nav-container{
    height: 20%;
    background-color: rgb(36, 187, 187);
}

.nav-list{
    margin: 0;
}

.nav-list li{
    display: inline;
    text-align: center
}

.nav-list a{
    display: inline-block;
    text-justify: auto;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: white
}

.nav-list a:hover{
    background-color: teal;
}


.search-container{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.search-container button{
    background-color:  rgb(245, 245, 106);
    text-decoration: none;
    display: inline-block;
}

.search-container button i{
    text-align: center;

}

 */

